* {
    box-sizing: border-box;
    padding: 5px;
    font-family: "Lucida Sans", sans-serif;
}

body {
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

p {
    font-size: 12pt;
}

.header {
    background-color: #ffffff;
    color: dimgray;
    padding: 5px;
    text-align: left;
}

.menu {
    background-color: #ffffff;
    color: green;
    padding: 10px 10px;
    /*color: #00519e;*/
}

.menu > div {
    margin-top: 18px;
    text-align: left;
    font-weight: bold;
}

.main {
    padding: 0 20px 20px 20px;
    line-height: 1.5em;
    margin-left: 80px;
    background-color: #ffffff;
}

.step {
    padding: 5px 10px;
    text-align:center;
    border-radius: 25px;
    background-color:dimgrey;
    color:#ffffff;
    line-height: 50px;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finished {
    background-color: green;
    opacity: 1;
}

.step_description {
    margin-left: 10px;
    color: dimgrey;
}

.step_description:hover{
    color: #035956;
    opacity: 0.7;
}

.nextButton {
    padding: 10px 20px;
    background-color: #00b33c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
}

.noSelection {
    padding: 10px 20px;
    background-color: #ddd;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
}

.table {
    height: 50px;
    width: 70px;
    margin: 25px;
    padding: 5px;
    background-color: #deb887;
    border-left: 15px solid;
    border-right: 15px solid;
    border-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 20%, #8B4513 20%, #8B4513 80%, #FFFFFF 80%, #FFFFFF 100%) 1;
}

.grid-container {
    display:  grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container_2 {
    display:  grid;
    grid-template-columns: 100px 100px 100px;
}

.bar {
    grid-row-start: 2;
    width: 350px;
    height: 150px;
    margin: 25px;
    padding: 5px;
    background-color: #eeeeee;
    border: 2px solid #aaaaaa;
}

button:hover {
    opacity: 0.7;
}

.italia {
    background-image: linear-gradient(45deg, green 30%, white 30%, white 70%, red 70%);
    background-repeat: no-repeat;
}

.x {
    --color: #444;
    --l: 5px; /* line-width */
    background: linear-gradient(to top right, #deb88700 calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), #deb88700 calc(50% + var(--l) / 2)), linear-gradient(to bottom right, #deb887 calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), #deb887 calc(50% + var(--l) / 2));
}

table.reservation_table {
    border:solid 5px green;
    margin:0px;
    padding:0px;
    border-spacing:0px;
    border-collapse:collapse;
    line-height:22px;
    font-size:13px;
    font-family:Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-weight:400;
    text-decoration:none;
    color:black;
    white-space:pre-wrap;
}

table.reservation_table th {
    padding: 20px;
    background-color:lightgreen;
    border:solid 2px green;
}

table.reservation_table td {
    padding: 20px;
    border:solid 1px green;
}

table.reservation_table tr {
    margin:0;
    padding:4px;
}

@media only screen and (min-width: 865px) {
    .desktop-3-cols {width: 25.00%}
    .desktop-6-cols {width: 50.00%}
    .desktop-12-cols {width: 100.00%}
}
